#lagger {
  padding: 20px 10px;
}

#lag {
  width: 260px;
  vertical-align: text-bottom;
}

#val {
  display: inline-block;
  text-align: right;
  width: 3em;
}

#asyncRenderToolbox_div {
  position: fixed;
  z-index: 8675309;
  background-color: rgba(102, 102, 102, 0.6);
  border: 1px solid #3c3;
  text-align: center;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.6);
  box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.6);
}

#asyncRenderToolbox_divheader {
  padding: 10px;
  cursor: move;
  z-index: 86753099;
  background: linear-gradient(to right, #3f5efb, #fc466b); /*#2196f3;*/
  color: #fff;
  border-radius: 10px 10px 0px 0px;
}
